<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Cliente</title>
</head>
<header>
  <h4 id="titulo"><a (click)="irAHome()">LOVE NOOD</a></h4>
  <input type="text" placeholder="Escribe aquí..." (click)="irABuscador()">
</header>
<body>

  <div id="formulario">
    <h2>Log In here with your admin account:</h2>
    <label for="nombreInputAdmin">Nombre:</label>
    <input #nombreInput type="text" name="nombre"/>

    <label for="passwordInputAdmin">Contraseña:</label>
    <input #passwordInput type="password" name="password"/>

    <p class="avisos">-</p>
    <p class="avisos">Just Admin Access</p>
    <p class="avisos">-</p>

    <button (click)="comprobarCredencialesAdmin()">Log In</button>
    <p [hidden]="!mensajeError" style="color: red;">Usuario o contraseña no coincidentes.</p>
  </div>

</body>
<footer>
  © 2023 LOVE NOOD, All rights reserved
</footer>
</html>
